selenium
requests
pymongo
pdfplumber
python-dotenv
urllib3
webdriver-manager
beautifulsoup4
lxml
pytesseract
jupyter
pandas
flask
flask-cors
fastapi
uvicorn
langchain
langchain-openai
langchain-community
chromadb
tqdm
pydantic
sentence-transformers
pymupdf
